:root {
  --main-bg-color: #306291;
  --dark-bg-color: rgba(69, 141, 209, 0.5);
  --light-bg-color: rgba(69, 141, 209, 0.2);
  --text-color: #1f1f11;
  --text-light-color: #666666;
  --contrast-color: #D9645D;
  --header-font: "Roboto Slab";
  --main-font: "Roboto";
}

*{
  margin: 0;
	padding: 0;
}

html{
  font-family: var(--main-font);
}

header > .flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-item {
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 15px;
}

.flex-item > a{
  text-decoration: none;
  color:black
}

.flex-item > a:hover{
  font-weight: bold;
}

.responsive{
  display: none;
}

#content > .flex-container{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

#content > .flex-container > .flex-item{
  width: 60%;
  line-height: 25px;
}

#content > article{
  padding-bottom: 20px;
}

#content > article > h2, #content > .container > h2{
  padding-bottom: 20px;
}

#content > .flex-container > .flex-item > p{
  padding-top: 20px;
  padding-bottom: 20px;
}

#content > .flex-container > .flex-item > iframe{
  width:100%;
  height:450px;
}

#content > .flex-container > .sidebar{
  display: flex;
  flex-direction: column;
  width:30%;
}

#content > .flex-container > .sidebar >img{
  width:inherit;
  margin: auto;
  margin-left:10%;
}

.sidebarMenu {
  margin-left:10%;
  padding-top: 20px;
}

.sidebarMenu a {
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

#content > .flex-container > .container{
  width:70%;
}

#content > .flex-container >.container > h1{
  padding-bottom: 20px;
}

#content > .flex-container >.container > article > h2{
  padding-bottom: 10px;
}

#content > .flex-container >.container > article > .titularList{
  padding-left: 20px;
  padding-bottom: 20px;
}

#content > #titular2{
  text-align: center;
}

#content > #titular2 > .grid-container-image{
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
}

#content > #titular2 > .grid-container-image > a > img{
  width: 100%;
}

#content > .container {
    text-align: center;
    width: 60%;
    margin:auto;
}

#content > .container > article > .titularList{
  padding-left: 20px;
}

#content > .container > .grid-container{
  display: grid;
  grid-template-columns: repeat(3,33.33%);
  grid-row-gap:25px;
  padding-bottom: 30px;
}

#content > .container > .grid-container > a > img{
  width: 100%;
}

#content > .container > .grid-container > .titular {
  padding-left: 20px;
}

#content > .container > .grid-container > .titular > a {
  text-decoration: none;
  color: black;
}

#content > .container > .grid-container > .titular > a >h2{
  text-align: left;
}

#content > .container > .grid-container > .titular > p{
  text-align: justify;
}

#content > .container > .grid-container > .titular > p > a.info{
  text-decoration: underline;
  color:blue;
  text-align: left;
}

.contact-container{
  width: 70%;
  margin: auto;
}

.contact-container > h1{
  text-align: center;
}

form > fieldset{
  background-color:var(--light-bg-color);
  border-radius: 10px;
  border: none;
  padding: 30px;
  margin-bottom: 30px;
}

form > fieldset > p{
  padding: 5px;
}


form > fieldset > i{
  color: var(--text-light-color);
}

form > fieldset > p > label{
  width:40%;
  display: inline-block;
}

form > fieldset > p > input,form > fieldset > p > select{
  border: 1px solid var(--dark-bg-color);
  width:50%;
  height: 25px;
  border-radius: 3px;
  outline: none;
}

form > fieldset > p > textarea{
  border: 1px solid var(--dark-bg-color);
  width:50%;
  border-radius: 3px;
  outline: none;
}

form > fieldset > p > input:focus,
form > fieldset > p > select:focus{
  border: 1px solid var(--contrast-color);
}

form > fieldset > fieldset{
  width:60%;
  padding: 10px;
  border: 1px solid var(--dark-bg-color);
  border-radius: 5px;
}

.sendButton{
  font-size: 20px;
  background-color: var(--contrast-color);
  color:white;
  text-align: center;
  padding: 5px;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  margin-bottom: 20px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
}


footer {
    background-color: #222;
    color: #fff;
}

footer > .super-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer > .flex-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer > .super-flex-container > .flex-container-left{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
}

footer > .super-flex-container > .flex-container-right{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
}

footer > .super-flex-container > .flex-container-left > .flex-item >a{
  text-decoration: none;
  color:white
}

footer > .super-flex-container > .flex-container-right > .flex-item > a{
  text-decoration: none;
  color:white
}

.go-top {
    padding-top: 5px;
    cursor: pointer;
    left: 5%;
    bottom: 0;
    width: 40px;
    height: 30px;
    background: #563d7c;
    position: fixed;
    z-index: 2;
    text-align: center;
}

/* md */
@media (max-width: 990px) {
  #content > .flex-container > .flex-item > iframe{
    height:350px;
  }

  #content > #titular2 > .grid-container-image{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }

  #content > .container > .grid-container{
    grid-template-columns: repeat(2,50%);
  }

  .contact-container{
    width: 98%;
    margin: auto;
  }

  .empty{
    display: none
  }

  footer > .super-flex-container > .flex-container-left{
    width: 70%;
  }

}

/* sm */
@media (max-width: 850px) {
  #content > .flex-container > .flex-item > iframe{
    height:300px;
  }

  #content > #titular2 > .grid-container-image{
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }


  footer > .super-flex-container > .flex-container-left{
    width: 95%;
  }
}

/* xs */
@media (max-width: 767px) {
  .responsive{
    display: block;
  }

  .responsive > a{
    text-decoration: none;
    color:black;
  }

  header > .flex-container{
    display: none;
  }

  header > .show{
    flex-direction: column;
    display: block;
  }

  #content > .flex-container{
    flex-direction: column;
    align-items: center;
  }

  #content > .flex-container > .container >h1{
    padding-top: 20px;
  }

  #content > .flex-container > .flex-item > iframe{
    width:100%;
    height:250px;
  }

  #content > #titular2 > .grid-container-image{
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  #content > .container > .grid-container{
    grid-template-columns: repeat(1,100%);
  }

  form > fieldset > p > label{
    width:100%;
  }

  form > fieldset > p > input,form > fieldset > p > select{
    width:100%;
  }

  form > fieldset > p > textarea{
    width:100%;
  }

  .sendButton{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer > .super-flex-container{
    flex-direction: column;
  }

  footer > .super-flex-container > .flex-container-left{
    flex-direction: column;
  }

  footer > .super-flex-container > .flex-container-right{
    flex-direction: column;
  }

  footer > .super-flex-container > .flex-container-left > .flex-item {
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

  footer > .super-flex-container > .flex-container-right > .flex-item{
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

  footer > .flex-container{
    justify-content: center;
  }

  footer > .flex-container > .flex-item{
    line-height: 25px;
    font-size: 15px;
  }

  .logo-item{
    display: none
  }

  .logo-responsive{
    display: table;
    margin: auto;
  }

  .menu{
    padding: 10px;
  }
}
